html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote::before, blockquote::after {
  content: "";
  content: none; }

q::before, q::after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.background--accent-red {
  background-color: #c1272d; }

.background--dark-gray {
  background-color: #404041; }

.background--accent-purple {
  background-color: #540b7f; }

.background--accent-green {
  background-color: #5aaa3f; }

.background--error-red {
  background-color: #f90b0b; }

.background--background-white {
  background-color: #ffffff; }

.background--neutral-gray {
  background-color: #66667c; }

.background--dark-red {
  background-color: #510114; }

.background--error-pink {
  background-color: #dd7f9e; }

.text--black {
  color: black; }

.text--blue {
  color: blue; }

.text--white {
  color: white; }

a:focus {
  outline: 0; }

body {
  min-width: 350px; }

.header {
  width: 100%; }

.main {
  padding: 15px;
  max-width: 800px;
  margin: auto; }
  .main__section {
    margin: 25px 0; }

.outline-header {
  opacity: 0;
  visibility: hidden;
  line-height: 0; }

.home-image-box {
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: 1fr 2fr 1fr;
  width: 90%;
  margin: auto; }
  @media only screen and (min-width: 675px) {
    .home-image-box {
      grid-column-gap: 15px; } }

.home-image-div {
  width: 100%;
  margin: auto;
  text-align: center; }

.home-image-div p {
  font-size: 30px;
  font-weight: bold; }

.button-div {
  width: 350px;
  margin: 15px auto auto;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.home-images {
  border: 1px solid #c1272d;
  border-radius: 5%;
  width: 100%; }

.sample-screen {
  width: 100%; }

#display {
  width: 40%;
  position: relative;
  z-index: 1;
  top: -325px;
  margin: auto;
  border: 2px solid black; }

.item-container {
  display: grid;
  width: 100%;
  grid-template-columns: 25% 75%; }

.footer {
  background-color: #c1272d;
  width: 100%;
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: 1fr 1fr; }

.social-media {
  display: flex;
  flex-direction: row;
  margin-left: 5%; }

.date-script {
  color: #ffffff;
  text-align: right;
  margin-right: 5%;
  margin-top: 15px; }

.logo-header {
  width: 100%;
  max-width: 300px;
  margin: 5px; }

.logo-display {
  width: 300px;
  padding: 25px; }

.nav {
  list-style: none;
  background-color: #c1272d;
  border-top: 1px solid #510114;
  border-bottom: 1px solid #510114;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  clear: both; }
  @media only screen and (min-width: 350px) {
    .nav {
      flex-flow: row wrap;
      justify-content: flex-end; } }
  .nav__list {
    padding: 10px;
    display: block;
    flex-grow: 1 1 0;
    font-size: 20px; }
  .nav__list:hover {
    background-color: #510114; }

.color-container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-auto-rows: 150px;
  grid-column-gap: 5px; }

.primary-colors1 {
  text-align: center;
  padding: 10px;
  background-color: #c1272d;
  color: #ffffff; }

.primary-colors2 {
  text-align: center;
  padding: 10px;
  background-color: #ffffff;
  color: #404041; }

.primary-colors3 {
  text-align: center;
  padding: 10px;
  background-color: #404041;
  color: #ffffff; }

.secondary-colors1 {
  text-align: center;
  padding: 10px;
  background-color: #f90b0b;
  color: #ffffff; }

.secondary-colors2 {
  text-align: center;
  padding: 10px;
  background-color: #5aaa3f;
  color: #ffffff; }

.accent-colors1 {
  text-align: center;
  padding: 10px;
  background-color: #540b7f;
  color: #ffffff; }

.accent-colors2 {
  text-align: center;
  padding: 10px;
  background-color: #66667c;
  color: #ffffff; }

.accent-colors3 {
  text-align: center;
  padding: 10px;
  background-color: #510114;
  color: #ffffff; }

.nav-a {
  text-decoration: none;
  color: #ffffff; }

.nav-a:visited {
  text-decoration: none;
  color: #e6e6e6; }

.contact-info {
  width: 100%; }
  @media only screen and (min-width: 675px) {
    .contact-info {
      width: 50%;
      float: left; } }
  @media only screen and (min-width: 999px) {
    .contact-info {
      width: 35%;
      float: left; } }

.contact-form {
  width: 100%;
  margin-bottom: 15px; }
  @media only screen and (min-width: 675px) {
    .contact-form {
      width: 50%;
      float: left; } }
  @media only screen and (min-width: 999px) {
    .contact-form {
      width: 65%;
      float: left; } }

.about-bottom {
  clear: both;
  text-align: center;
  margin-top: 10px; }

#wrap {
  border-radius: 5px;
  border: solid 1px #c1272d; }

#signInModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  padding-top: 80px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #66667c;
  background-color: rgba(0, 0, 0, 0.5); }

#signIn-container {
  display: block;
  background-color: #ffffff;
  width: 50%;
  min-width: 250px;
  min-height: 50%;
  margin: auto;
  padding: 5px;
  border-radius: 5px; }

.close {
  display: block;
  text-align: right; }

.social--hover {
  background-color: #ffffff; }

.review {
  display: grid;
  grid-template-columns: 265px 1fr;
  grid-gap: 3px;
  margin-bottom: 15px; }

.blurb {
  margin-left: 3%;
  margin-top: 3%; }

.hide {
  position: absolute;
  top: -9999px;
  left: -9999px; }

body {
  font-family: "Ubuntu", sans-serif;
  color: #404041; }

h1 {
  font-family: "Berkshire Swash", cursive;
  font-size: 40px;
  color: #c1272d;
  padding-bottom: 5px; }

h2 {
  font-family: "Berkshire Swash", cursive;
  font-size: 35px;
  padding-bottom: 15px; }

h3 {
  font-family: "Berkshire Swash", cursive;
  font-size: 30px;
  padding-bottom: 15px; }

h4 {
  font-size: 25px;
  color: #c1272d;
  padding-bottom: 15px; }

h5 {
  font-size: 20px;
  color: #c1272d;
  padding-bottom: 15px; }

h6 {
  font-size: 15px;
  font-weight: bold;
  color: #c1272d;
  padding-bottom: 15px; }

p {
  margin-bottom: 15px; }

a {
  color: #c1272d;
  text-decoration: underline dotted; }

a:hover {
  color: #5aaa3f; }

a:active {
  color: #5aaa3f; }

a:visited {
  color: #540b7f; }

.alert--error {
  background-color: #dd7f9e;
  color: #510114;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #cd4370; }
.alert--success {
  background-color: #5aaa3f;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #3c722a; }
.alert--notification {
  background-color: #66667c;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #434352; }

.alert-image {
  width: 30px;
  margin-right: 10px; }

.button--primary {
  background-color: #5aaa3f;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 140px;
  height: 30px;
  box-shadow: 2px 2px #3c722a; }
  .button--primary:hover {
    font-family: "Berkshire Swash", cursive; }
.button--secondary {
  background-color: #c1272d;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 140px;
  height: 30px;
  box-shadow: 2px 2px #811a1e; }
  .button--secondary:hover {
    font-family: "Berkshire Swash", cursive; }
.button--disabled {
  background-color: #66667c;
  color: #404041;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 140px;
  height: 30px;
  box-shadow: 2px 2px #434352; }

.chip {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  float: right;
  margin-right: 3%;
  margin-top: 3%; }
  .chip__text-container {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 10px; }
  .chip__text-title {
    font-weight: bold; }
  .chipchip__text-description {
    color: #66667c; }
  .chip__avatar {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    color: #ffffff;
    background: #404041;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px #510114 solid; }
    .chip__avatar--image {
      background-color: #ffffff;
      width: 50px;
      height: 50px;
      align-self: baseline; }

.form {
  width: 90%;
  margin: auto;
  background-color: #efeff2;
  padding: 10px;
  border: solid 1px #510114;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding-top: 15px; }
  .form--signin {
    display: block;
    margin: auto;
    width: 250px; }

.label {
  padding: 10px;
  text-align: right; }
  .label--error {
    padding: 10px;
    text-align: right;
    color: #c1272d; }

.input {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #e5c2fa;
  padding-bottom: 15px;
  width: 90%; }
  .input--error {
    background-color: #f3c1c3;
    padding: 10px;
    margin-bottom: 10px; }

.dropdown {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #e5c2fa; }

.form-buttons {
  grid-column: span 2;
  width: 250px;
  margin: auto;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

/*# sourceMappingURL=main.css.map */
