/*
	 Organic Tabs
	 by Chris Coyier
	 http://css-tricks.com
*/

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

a {
  text-decoration: none;
}

a:focus {
  outline: 0;
}

/* Generic Utility */

.hide {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.content-wrap {
  background: #eee;
  padding: 10px;
  min-height: 200px;
}

ul {
  list-style: none;
}

ul li a {
  display: block;
  border-bottom: 1px solid #666;
  padding: 4px;
  color: #666;
}

ul li a:hover {
  background: #333;
  color: white;
}

ul li:last-child a {
  border: none;
}

.nav {
  overflow: hidden;
}

.nav li {
  width: 70px;
  float: left;
  margin: 0 10px 0 0;
}

.nav li.last {
  margin-right: 0;
}

.nav li a {
  display: block;
  padding: 5px;
  background: #666;
  color: white;
  font-size: 12px;
  text-align: center;
  border: 0;
}

li a.current, li a.current:hover {
  background-color: #eee !important;
  color: black;
}

.nav li a:hover, .nav li a:focus {
  background: #999;
}
