// Chip Component Stylesheet
// ========================================
.chip {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 265px;
  float: right;
  margin-right: 3%;
  margin-top: 3%;

  &__text-container {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: $spacer-s;
  }

  &__text-title {
    font-weight: bold;
  }

  &chip__text-description {
    color: $neutral-gray;
  }

  &__avatar {
    width: 50px;
    height: 50px;
    margin-right: $spacer-s;
    color: $background-white;
    background: $dark-gray;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px $dark-red solid;

    &--image {
      background-color: $background-white;
      width: 50px;
      height: 50px;
      align-self: baseline;
    }
  }
}
