// Form Elements Stylesheet
// ========================================

// Label Styling -- Delete this if you are not using a label
.form {
  width: 90%;
  margin: auto;
  background-color: lighten($neutral-gray, 50%);
  padding: 10px;
  border: solid 1px $dark-red;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding-top: 15px;

  &--signin {
    display: block;
    margin: auto;
    width: 250px;
  }
}

.label {
  padding: $spacer-s;
  text-align: right;

  &--error {
    padding: $spacer-s;
    text-align: right;
    color: $accent-red;
  }
}

// Basic Form Input Styling
.input {
  @include input-style;
  background-color: lighten($accent-purple, 60%);
  padding-bottom: 15px;
  width: 90%;

  &--error {
    background-color: lighten($accent-red, 40%);
    @include input-style;
  }
}

// Select Form Input Styling
.dropdown {
  @include input-style;
  background-color: lighten($accent-purple, 60%);
}

.form-buttons{
  grid-column: span 2;
  width: 250px;
  margin: auto;
  margin-top: $spacer-m;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
