// Base Layout Stylesheet
// This is where your layout of the project will go
// ========================================

body {
  min-width: 350px;
}

.header {}

.main {
  padding: $spacer-m;
  max-width: 800px;
  margin: auto;

  &__section {
    margin: $spacer-lg $reset-0;

    &--index {}
  }
}

.item-container {
  margin: $spacer-m $reset-0;
}

.footer {}

.logo-header {
  width: 40%;
  min-width: 125px;
  max-width: 300px;
  margin: $spacer-m;
}

.logo-display {
  width: 300px;
  padding: $spacer-lg;
}

.nav {
  list-style: none;
  background-color: $accent-red;
  border-top: 1px solid $dark-red;
  border-bottom: 1px solid $dark-red;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  @include media ($small) {
    flex-flow: row wrap;
    justify-content: flex-end;
  }

  &__list {
    padding: $spacer-s;
    display: block;
    flex-grow: 1 1 0;
    font-size: 20px;
  }

  &__list:hover {
    background-color: $dark-red;
  }
}

.color-container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-auto-rows: 150px;
  grid-column-gap: $spacer-xs;
}

.primary-colors1 {
  @include color-squares($accent-red, $background-white);
}

.primary-colors2 {
  @include color-squares($background-white, $dark-gray);
}

.primary-colors3 {
  @include color-squares ($dark-gray, $background-white);
}

.secondary-colors1 {
  @include color-squares ($error-red, $background-white);
}

.secondary-colors2 {
  @include color-squares ($accent-green, $background-white);
}

.accent-colors1 {
  @include color-squares ($accent-purple, $background-white);
}

.accent-colors2 {
  @include color-squares ($neutral-gray, $background-white);
}

.accent-colors3 {
  @include color-squares ($dark-red, $background-white);
}
