// Base Layout Stylesheet
// This is where your layout of the project will go
// ========================================

body {
  min-width: 350px;
}

.header {
  width: 100%;
}

.main {
  padding: $spacer-m;
  max-width: 800px;
  margin: auto;

  &__section {
    margin: $spacer-lg $reset-0;

    &--index {

    }
  }
}

.outline-header {
  opacity: 0;
  visibility: hidden;
  line-height: 0;
}

.home-image-box {
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: 1fr 2fr 1fr;
  width: 90%;
  margin: auto;

    @include media ($medium){
      grid-column-gap: 15px;
    }
}

.home-image-div {
  width: 100%;
  margin: auto;
  text-align: center;
}

.home-image-div p {
  font-size: 30px;
  font-weight: bold;
}

.button-div{
  width: 250px;
  margin: auto;
  margin-top: $spacer-m;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.home-images {
  border: 1px solid $accent-red;
  border-radius: 5%;
  width: 100%;
}

.item-container {
    display: flex-grow;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    align-content: flex-end;
    width: 100%;
}

.footer {
  background-color: $accent-red;
  width: 100%;
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: 1fr 1fr;
}

.social-media {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
}

.date-script {
  color: $background-white;
  text-align: right;
  margin-right: 5%;
  margin-top: 15px;
}

.logo-header {
  width: 25%;
  flex-basis: 60px;
  max-width: 300px;
  margin: $spacer-xs;
}

.logo-display {
  width: 300px;
  padding: $spacer-lg;
}

.nav {
  list-style: none;
  background-color: $accent-red;
  border-top: 1px solid $dark-red;
  border-bottom: 1px solid $dark-red;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  clear: both;

  @include media ($small){
    flex-flow: row wrap;
    justify-content: flex-end;
  }

  &__list {
    padding: $spacer-s;
    display: block;
    flex-grow: 1 1 0;
    font-size: 20px;
  }

  &__list:hover {
    background-color: $dark-red;
  }
}

.color-container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-auto-rows: 150px;
  grid-column-gap: $spacer-xs;
}

.primary-colors1 {
  @include color-squares($accent-red, $background-white);
}
.primary-colors2 {
  @include color-squares($background-white, $dark-gray);
}
.primary-colors3 {
  @include color-squares ($dark-gray, $background-white);
}

.secondary-colors1 {
  @include color-squares ($error-red, $background-white);
}
.secondary-colors2 {
  @include color-squares ($accent-green, $background-white);
}

.accent-colors1 {
  @include color-squares ($accent-purple, $background-white);
}
.accent-colors2 {
  @include color-squares ($neutral-gray, $background-white);
}
.accent-colors3 {
  @include color-squares ($dark-red, $background-white);
}

.nav-a {
  text-decoration: none;
  color: $background-white;
}

.nav-a:visited {
  text-decoration: none;
  color: darken($background-white, 10%);
}

.contact-info {
  width: 100%;

  @include media ($medium){
    width: 50%;
    float: left;
  }

  @include media ($large){
    width: 35%;
    float: left;
  }
}

.contact-form {
  width: 100%;
  margin-bottom: 15px;

  @include media ($medium){
    width: 50%;
    float: left;
  }

  @include media ($large){
    width: 65%;
    float: left;
  }
}

.about-main {
  width: 100%;

  @include media ($medium){
    width: 75%;
    float: left;
  }

  @include media ($large){
    width: 70%;
    float: left;
  }
}

.about-side {
  width: 0px;
  margin: auto;
  opacity: 0;
  visibility: hidden;

  @include media ($medium){
    width: 20%;
    float: left;
    padding: 8px;
    opacity: 1;
    visibility: visible;
  }

  @include media ($large){
    width: 22%;
    float: left;
  }
}

.about-bottom {
  clear: both;
}

.review {
  display: grid;
  grid-template-columns: 265px 1fr;
  grid-gap: 3px;
  margin-bottom: 15px;
}

.blurb {
  margin-left: 3%;
  margin-top: 3%;
}
