// http://meyerweb.com/eric/tools/css/reset/
// http://meyerweb.com/eric/tools/css/reset/
// v2.0 | 20110126
// License: none (public domain)
// HTML5 display-role reset for older browsers
};
block:display{
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section
}
// line-height: 1;
{
body
};
none:list-style{
ol,
ul
};
none:quotes{
blockquote,
q
}
};
none:content;
"":content{
&::after,
&::before {
blockquote
}
};
none:content;
"":content{
&::after,
&::before {
q
};
0:border-spacing;
collapse:border-collapse{
table
}
@include meyer-reset;
