// Alert Mixin Settings Stylesheet
// ========================================
@mixin button ($background-value, $color-value) {
  background-color: $background-value;
  color: $color-value;
  border-radius: 5px;
  padding: $spacer-s;
  margin-bottom: $spacer-m;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 80px;
  height: 30px;
  box-shadow: 2px 2px darken($background-value, 15%);
}
@mixin button-hover {
  font-family: $script-font;
  font-size: 25px;
}
