// Typography Mixin Settings Stylesheet
// ========================================
$primary-font: 'Ubuntu', sans-serif;
$script-font: 'Berkshire Swash', cursive;
// Font Styles
@mixin font-type($type, $style, $weight) {
  font-family: $type;
  font-style:  $style;
  font-weight: $weight;
}

// Text Colors
@each $name, $tones in $type-colors {
  $tone-color: nth($tones, 1);

  .text--#{$name} {
    color: $tone-color;
  };
}


body {
  font-family: $primary-font;
  color: $dark-gray;
}

h1 {
  font-family: $script-font;
  font-size: 40px;
  color: $accent-red;
  padding-bottom: $spacer-xs;
}

h2 {
  font-family: $script-font;
  font-size: 35px;
  padding-bottom: $spacer-m;
}

h3 {
  font-family: $script-font;
  font-size: 30px;
  padding-bottom: $spacer-m;
}

h4 {
  font-size: 25px;
  color: $accent-red;
  padding-bottom: $spacer-m;
}

h5 {
  font-size: 20px;
   color: $accent-red;
   padding-bottom: $spacer-m;
}

h6 {
  font-size: 15px;
  font-weight: bold;
  color: $accent-red;
  padding-bottom: $spacer-m;
}

@mixin color-squares ($color1, $color2){
  text-align: center;
  padding: $spacer-s;
  background-color: $color1;
  color: $color2;
}
